services:
  server:
    build:
      context: ./apps/server
    ports:
      - "4200:4200"
    environment:
      - PORT=4200
    restart: unless-stopped
  client:
    build:
      context: ./apps/client
    ports:
      - "8080:80"
    depends_on:
      server:
        condition: service_healthy
    restart: unless-stopped
